
CoreSystemProject/.plastic/

CoreSystemProject/Library/

CoreSystemProject/Logs/

CoreSystemProject/UserSettings/

CoreSystemProject/.vsconfig

CoreSystemProject/Assembly-CSharp-Editor.csproj

CoreSystemProject/Assembly-CSharp.csproj

CoreSystemProject/CoreSystemProject.sln

CoreSystemProject/Assets/Source/Data/
